
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/project/config/secrets/prod/prod.decrypt.private.php
/project/public/bundles/
/project/var/
/project/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/project/phpunit.xml
/project/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/project/.phpunit.result.cache
/project/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/project/node_modules/
/project/public/build/
/project/npm-debug.log
/project/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/project/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> versionning GIT ###
.idea/
.gitignore
/project/.gitignore
### versionning GIT ###

###> versionning DOCKER ###
.dockerignore
### versionning DOCKER ###

