{% extends 'base.html.twig' %}

{% block title %}Edit Fokontany{% endblock %}

{% block body %}
    <h1>Edit Fokontany</h1>

    {{ include('fokontany/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fokontany_index') }}">back to list</a>

    {{ include('fokontany/_delete_form.html.twig') }}
{% endblock %}
